html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.root {
  flex-grow: 1;
}

.about-us-logo {
  border-radius: 50%;
  max-height: 130px;
  height: auto;
  width: 100%;
  cursor: pointer;
}

.efair-logo {
  height: auto;
  max-height: 150px;
  max-width: 70vw;
}

.efair-logo-mobile {
  height: auto;
  max-height: 150px;
  width: 100%;
  margin-bottom: 40px;
}

.first-container {
  background: rgba(234, 234, 234, 1) url('../public/alex-suprun-A53o1drQS2k-unsplash.jpg');
  filter: grayscale(100%);
  background-blend-mode: overlay;
  background-size:cover;
}

.regis-logo {
  height: auto;
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 20px;
}

.second-container {
  background-color: #272727;
  padding-bottom: 25px;
}

.sponsor-logo {
  filter: grayscale(100%); 
  opacity: 50%;
  max-height: 150px;
  transition: .5s;
}

.sponsor-logo:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

.beta-test-logo {
  height: auto;
  max-height: 150px;
  max-width: 100%;
}

.lucky-draw-container {
  background-color: gray;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.inner-container {
  background-color: white;
  height: 100%;
}

.new-year-logo {
  height: auto;
  padding-top: 12vh;
  max-height: 60vh;
  max-width: 90vw;
}

@media only screen and (max-width:1024px){

  .title {
    font-size:18px !important;
  }

  .description {
    font-size: 10px !important;
  }

  .code {
    font-size: 25px !important;
  }
}

.icon-face {
  align-self: flex-start;
}